*{
    list-style: none;
}
:root {
    --text-color: rgb(241, 248, 255);
    --background-color: rgb(58, 137, 201);
    --accent-color: rgb(230, 85, 118);
    --banner-text-color: rgb(27, 50, 95);
    --banner-background-color: rgb(156, 196, 228);
    font-family: 'Oswald', sans-serif;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.wrap {
    min-height: 100%;

    position: relative;
    background-color: white;
}
.push {
    height: 120px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    font-family: 'Lobster';
}

.navbar_logo {
    font-size: 30px;
    margin-top: -10px;
    color: var(--text-color);
}
.navbar_logo img {
    max-width: 40px;
}
.navbar_logo a {
    padding-top: -10px;
}

.navbar_menu {
    display: flex;
    font-size: 22px;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
    margin: 0px 15px;
    border-radius: 5px;
}
.navbar_menu li:hover {
    background-color: var(--text-color);
}
.navbar_menu li:hover a {
    color: var(--accent-color);
}


.navbar_sign {
    display: flex;
    padding-left: 0;
}
.navbar_sign li {
    font-size: 18px;
    margin: 5px;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: var(--accent-color);
}
.navbar_sign li:hover {
    background-color: var(--text-color);
}
.navbar_sign li:hover a {
    color: var(--accent-color);
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    top: 15px;
    right: 32px;
}
.navbar_toogleBtn img {
    height: 40px;
}

.banner {
    background-color: var(--banner-background-color);
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: var(--banner-text-color);
}
.banner_container p {
    font-size: 22px;
}
.TestBtn,
.PhotoBtn {
    background-color: var(--banner-text-color);
    font-size: 18px;
    padding: 8px 40px;
    margin: 0px 7px;
    border-radius: 5px;
}

.banner_container_ttt {
    text-align: center;

    /* padding-bottom: 20px;
    border: 3px solid #000;
    border-radius: 10px; */
}

.list {
    background-color: var(--banner-background-color);
    margin: 30px;
    padding: 30px;
    padding-left: 50px;
    border-radius: 15px;

    height: 1220px;
    text-align: center;
}
.list_container {
    position: relative;
    margin: 0 -30px 0 -50px;
    /* border: 3px solid #000; */
}
.list_container h1 {
    font-size: 40px;
}
.list ul {
    position: absolute;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    max-width: 1819px;
    
    align-content: space-around;
    justify-content: space-around;
    flex-flow: row wrap;
    /* background-color: rgba(255, 255, 255, 0.2); */
}
.list li {
    background-color: var(--text-color);
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    width: 385px;
}
.list img {
    border-radius: 5px;
    max-width:380px;
    height: auto;
}
.list p {
    color: var(--banner-text-color);
}
.hover_img {
    transform: translateX(-100%);
    position: absolute;
    visibility: visible;
    transition: 0.3s;
    opacity: 0;
}
.hover_img:hover {
    transition: 0.3s;
    opacity: 1;
}

.footer {
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    height: 100px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer_container p {
    text-align: center;
    color: var(--banner-text-color);
}
.footer_menu {
    display: flex;
    padding-left: 0;
    width: 585px;
    margin: 0 auto;
}
.footer_menu li {
    font-size: 16px;
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 5px;
}
.footer_menu li:hover {
    background-color: var(--text-color);
}
.footer_menu li:hover a {
    color: var(--accent-color);
}

/* 
.navbar_menu {
    display: flex;
    font-size: 22px;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
    margin: 0px 15px 0px 15px;
    border-radius: 5px;
}
.navbar_menu li:hover {
    background-color: var(--text-color);
}
.navbar_menu li:hover a {
    color: var(--accent-color);
} */
/* ------------------------------------- 반응형 코드 --------------------------------- */

@media screen and (max-width: 1447px) {
    .list {    
        height: 1800px;
    }
}

@media screen and (max-width: 1300px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        padding-bottom: 25px;
    }
    .navbar_logo {
        margin-top: 5px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_sign {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toogleBtn {
        margin-top: 10px;
        display: block;
    }
    .navbar_menu.active,
    .navbar_sign.active {
        display: flex;
    }
}

@media screen and (max-width: 986px) {
    .list {    
        height: 3450px;
    }
    .banner {
        text-align: left;
    }
    .banner_container {
        padding-left: 10px;
    }
}

@media screen and (max-width: 675px) {
    .footer {
        height: 250px;
    }
    .footer_menu {
        flex-direction: column;
        width: 100%;
    }
    .footer_menu li {
        text-align: center;
        margin-top: 5px;
    }
}

@media screen and (max-width: 550px) {
    .TestBtn,
    .PhotoBtn {
        padding: 6px 30px;
    }
    .list {    
        height: 2650px;
    }
    .list li {
        width: 245px;
    }
    .list img {
        max-width:240px;
    }
}

@media screen and (max-width: 400px) {
    .banner_container h1 {
        font-size: 30px;
    }
    .banner_container p {
        font-size: 16px;
    }
    .TestBtn,
    .PhotoBtn {
        font-size: 12px;
        margin: 0px 4px;
    }

    .list_container h1 {
        font-size: 20px;
    }
    .list {    
        height: 2300px;
    }
    .list li {
        width: 205px;
    }
    .list img {
        max-width:200px;
    }
}